.newsticker-title {
  background-color: #2c3e50;
  display: block;
  height: 30px;
  line-height: 15px;
  width: 110px;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  position: absolute;
  top: 0px;
  margin-top: 0px;
  margin-left: 20px;
  padding-top: 10px;
  color: #eee;
  z-index: 3;
}

.newsticker-title:before {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  top: 0;
  left: -12px;
  border-left: 12px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 30px solid #2c3e50;
}

.newsticker-title:after {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  right: -12px;
  top: 0;
  border-right: 12px solid transparent;
  border-left: 0px solid transparent;
  border-top: 30px solid #2c3e50;
}

#newsticker-colour {
  height: 30px;
  width: 100%;
  background-color: #18bc9c;
}

#newsticker-container {
  height: 30px;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

#newsticker-container:before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #18bc9c;
  position: absolute;
  z-index: 2;
}

.animated {
  -webkit-animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 0.2s;
  -moz-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
}

.delay-animated {
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 0.4s;
  -moz-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.slidein {
  -webkit-animation-name: slidein;
  -moz-animation-name: slidein;
  -o-animation-name: slidein;
  animation-name: slidein;
}

.slideup {
  -webkit-animation-name: slideup;
  -moz-animation-name: slideup;
  -o-animation-name: slideup;
  animation-name: slideup;
}

.newsticker {
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  height: 100%;
  overflow: hidden;
  max-width: 400px;
  margin: 0px 110px;
}

.newsticker .newsticker-list {
  position: absolute;
  top: 7.2px;
}

.newsticker .newsticker-list .newsticker-item {
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
}

.sitewidth {
  border: 1px solid #aa0101;
  overflow: hidden;
  background: #f3f3f3;
  margin-bottom: 25px;
  margin-top: 25px;
}


marquee {
  float: left;
  height: 40px;
  position: absolute;
  width: 870px;
}


.br-title {
  display: inline-block;
  padding: 10px 20px;
  color: #FFF;
  float: left;
  background-color: #aa0101;
  left: 0px;
  top: 0px;
  height: 40px;
}

.sitewidth ul li {
  float: left;
  list-style: none;
  font-weight: 500;
  font-size: 13px;
  height: 10px;
  margin-right: 20px;
}

@media (max-width: 968px) {
  #breaking-news {
    display: none !important;
  }
}